body {
	margin: 0;
	text-align: center;
	background-image: url('http://images.summitpost.org/original/456995.jpg');
	background-position: center top;
	background-size: cover;
}
h1 {
	font size: 32px;
	font-family: Arial;
	color: gray;
}