body {
	height: 100%;
	margin: 1;
	text-align: center;
	width: 100%;
	background-image: url("https://photos.app.goo.gl/AMgPTWc4eI4fjEqf1");
	padding: 250px 0;
}
h1 {
	font size: 32px;
	font-family: Arial;
	color: gray;
}