body {
	margin: 0;
	text-align: center;
	background-image: url('https://photos.app.goo.gl/AMgPTWc4eI4fjEqf1');
	background-position: center top;
	background-size: cover;
}
h1 {
	font size: 32px;
	font-family: Arial;
	color: gray;
}